# 모듈 설치 및 연결

프롬프트에서 conda install 모듈명/pip install 모듈명 설치(내 가상환경 설치)

모듈연결: import 모듈명 as 별명

In [1]:
!pip install pillow

Requirement already satisfied: pillow in c:\users\wooky\.conda\envs\multi\lib\site-packages (8.2.0)

In [7]:
from PIL import Image 
tmp=Image.open('C:/Users/wooky/Desktop/회사원/취업지원센터/내일배움카드/빅데이터 기반 지능형 서비스 개발/pycode/0621 파이썬 구조 및 자료형\data/pic1.jpg') 
print(tmp.size)

(512, 271)

In [17]:
import keyword as kwd 
kwlist = kwd.kwlist 

print(kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

파이썬의 예약어란 파이썬에서 이미 다른 목적을 위해 사용하는 단어로서 변수명으로 사용할 수 없다. 

예약어 종류는 33개이다. 

True, False, None을 제외하면 모두 소문자로 구성되었다. 

키워드라고도 한다.

In [12]:
# 숫자, 문자, 리스트, 듀플, 딕셔너리

int1 = 123 
int2 = 12. 
int3 = int1 + int2 # 숫자형 + 숫자형 => 산술연산 더하기 

print(type(int1), type(int2),type(int3)) # type(): 데이터 형식을 출력 
print(int3)

<class 'int'> <class 'float'> <class 'float'>
135.0

문자형

데이터 입력시 인용부호로 단일(') 또는 이중(") 따움표를 사용한다.

문자열은 문자들의 모임, 문자를 나열한 것을 문자열이라고 함

# 인덱싱(indexing)/슬라이싱

In [22]:
str1="Python is Very Powerful" 
str2='파이썬, 문자열, 데이터' 
str3="12345" 

print(type(str1),type(str2), type(str3)) 
print(str2 + str3)                         # 문자 + 문자 => 연결연산
 
# 문자데이터 인덱싱 
print(str1[0])
print(str1[-1])
print(str2[4])


# 문자데이터 슬라이싱
print(str2[0:3])     # str2[:3]
print(len(str1))     # len() : 입력된 데이터 길이
print(str1[-8:])     # print(str1[-8:23])

<class 'str'> <class 'str'> <class 'str'>
파이썬, 문자열, 데이터12345
P
l

파이썬
23
Powerful

In [25]:
# split() 입력 기호를 중심으로 텍스트 나누기, 기본값은 스페이스

print(str2.split(", "))     
print(str2)

['파이썬', '문자열', '데이터']
파이썬, 문자열, 데이터

In [28]:
# replace("a", "b") : a값을 찾아서 b로 변경

print(str1.replace("Python", "파이썬"))

파이썬 is Very Powerful

리스트형

데이터 입력 시 [ ] 로 묶어서 입력

리스트명 =[요소1, 요소2, 요소3, ...]

복합형 데이터 입력시 사용

인덱싱/슬라이싱

In [29]:
lst1=[10,20,30,'파이썬', "삼성멀티캠", [150,300,500]]
lst2=['요소1', "요소2"]

print(type(lst1), type(lst2))

<class 'list'> <class 'list'>

In [30]:
print(lst1[0])
print(lst1[-1])
print(lst1[-1][1])

10
[150, 300, 500]
300

In [31]:
print(lst1[:3])
print(lst1[4])
print(type(lst1[4]))
print(lst1[4][0:2])

[10, 20, 30]
삼성멀티캠
<class 'str'>
삼성

In [32]:
lst1+lst2

[10, 20, 30, '파이썬', '삼성멀티캠', [150, 300, 500], '요소1', '요소2']

In [34]:
# append(' ')리스트 구조의 마지막 데이터 뒤에 추가

lst2.append('서정동') 
lst2

['요소1', '요소2', '서정동', '서정동']

In [35]:
lst1[3]='파이썬 3.9'

lst1

[10, 20, 30, '파이썬 3.9', '삼성멀티캠', [150, 300, 500]]

In [36]:
lst1[-2]=lst1[-2].replace('캠', "캠퍼스")

lst1

[10, 20, 30, '파이썬 3.9', '삼성멀티캠퍼스', [150, 300, 500]]

In [37]:
# 리스트의 데이터 개수 len()
print(len(lst1)) 

# lst1의 4번째 인덱스의 값 길이
print(len(lst1[4]))

6
7

# 튜플형

입력시 ()로 묶어서 입력

튜플변수=(10,20,30)

리스트의 항목 값은 변화가 가능하고 튜플의 항목 값은 변화가 불가능하다.

In [38]:
t1 = (1, 2, "파이썬", (100,200))

print(type(t1))
print(t1[:3])
print(t1[2])

<class 'tuple'>
(1, 2, '파이썬')
파이썬

In [39]:
t1[2]="파이썬 3.9"

TypeError: 'tuple' object does not support item assignment

# 딕셔너리형(사전구조)

딕셔너리변수={"Key1":value1, "key2":value2, ....}

In [40]:
dict1={'이름':'서정동', "성별":"남", "지역":'서울 노원구', "성적": 85}
dict2={"이름":["홍길동","이순신", "박변수"],
       "성별":["남", "남", "여"],
       "나이":[35, 66, 28]}

In [41]:
print(dict1.keys())
print(dict1.values()) 
print(dict1["이름"])

dict_keys(['이름', '성별', '지역', '성적'])
dict_values(['서정동', '남', '서울 노원구', 85])
서정동

In [42]:
print(dict2["이름"])

print('이름:'+dict2["이름"][0]+" 성별:"+dict2["성별"][0])
print(f'이름:{dict2["이름"][0]}, 성별:{dict2["성별"][0]}, 나이:{dict2["나이"][0]}')

['홍길동', '이순신', '박변수']
이름:홍길동 성별:남
이름:홍길동, 성별:남, 나이:35

In [48]:
name="서정동"
age=45

print("이름:",name,",나이:",age)
print(f'이름:{name}, 성별:{age}')

이름: 서정동 ,나이: 45
이름:서정동, 성별:45

In [50]:
import pandas as pd

df=pd.DataFrame(dict2)
df

    이름 성별  나이
0  홍길동  남  35
1  이순신  남  66
2  박변수  여  28

In [51]:
a=4
b="5"

print(str(a)+b) # str(값) : 입력값을 문자형으로 변경
print(a+int(b)) # int(값) : 입력값을 숫자형으로 변경

                       # (단, 보여지는 값이 숫자일 경우만 가능)

45
9